<a href="https://colab.research.google.com/github/gbemi-1/Coursera-Assignment/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
POPSTAR = "DIZZY DRAKE"
print(POPSTAR[4]+" "+POPSTAR[10]) #Practice Python Basics 1
print(POPSTAR[3]) #Practice Python Basics 2
print(POPSTAR[9]) #Practice Python Basics 3
print(POPSTAR[0:6]) #Practice Python Basics 4
print(POPSTAR[6:11]) #Practice Python Basics 5

Y E
Z
K
DIZZY
DRAKE

In [ ]:
POPSTAR = "DIZZY DRAKE"
print(f"Index of '{POPSTAR[-7]}' is: -7")
print(f"Index of '{POPSTAR[-10]}' is: -10")
print("Result of POPSTAR[-4]:",POPSTAR[-4])
print(f"Input that returns '{POPSTAR[-3]}' is: -3")
print("Input that returns 'RAKE': ",POPSTAR[-4:])

Index of 'Y' is: -7
Index of 'I' is: -10
Result of POPSTAR[-4]: R
Input that returns 'A' is: -3
Input that returns 'RAKE': RAKE

In [ ]:
SUCCESS = "MAMBA MENTALITY"
print(SUCCESS[::2])
print(SUCCESS[0:10:2])
print(SUCCESS[2:5:2])
print(SUCCESS[5:12:3])
print(SUCCESS[1:15:4])

MMAMNAIY
MMAMN
MA
 NL
A TT

In [ ]:
BOOK = "HARRY POTTER"
COMMENT = "IS A BESTSELLER"
print(BOOK+" "+COMMENT)
print(BOOK+" "+COMMENT+" AND J.K ROWLING IS A GENIUS")

HARRY POTTER IS A BESTSELLER
HARRY POTTER IS A BESTSELLER AND J.K ROWLING IS A GENIUS

In [ ]:
Siblings="Middle children have it the worst"
Siblings2= Siblings.upper()
print(Siblings2)
Siblings3=Siblings.replace('worst','best')
print(Siblings3)

MIDDLE CHILDREN HAVE IT THE WORST
Middle children have it the best

In [ ]:
truth="We can do anything we set our minds to"
print(truth.find('can'))
print(truth.find('minds'))
print(truth.find('believe'))

3
30
-1

In [ ]:
print("JENNIFER LOPEZ\nIS AN AWESOME DANCER!")
print("colour ---> purple")
print("The backslash \\ is so cool")

JENNIFER LOPEZ
IS AN AWESOME DANCER!
colour ---> purple
The backslash \ is so cool

In [ ]:
name = "tom"
print(name[0])
print(name[1])

t
o

In [ ]:
s = "tom and " + "Jerry"
print (s)

tom and Jerry

In [ ]:
S = " Spamming is bad " * 3
print ( s )

 Spamming is bad  Spamming is bad  Spamming is bad

In [ ]:
>>> s = "Welcome"
>>> s[1:3]

'el'

In [ ]:
a = "Incomprehensibility"
a[0:8]
a[1:5]
a[2:6]
a[-1:3]
len ( a )
max (a)
min ( a )

'I'

In [ ]:
s1 = "Welcome"
"come" in s1
"come" not in s1

False

In [ ]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [ ]:
#Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id
variable_id="513"
print("customer id =513")
print(f"customer id =513")

customer id =513
customer id =513

In [ ]:

#Run the following statement, why there is an error
id=id+1
# id is not defined, hence the type error

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'int'

In [ ]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
variable_id="513"
type(variable_id) #convert to integer
int(variable_id)
variable_id=(int(variable_id))
variable_id+1
variable_id= variable_id+1
print(variable_id)

514

In [ ]:
# Write a Python code to print the following string in a specific format (see the
#   Twinkle, twinkle, little star,
#      How I wonder what you are!
#          Up above the world so high,
#                Like a diamond in the sky.
print("Twinkle,twinkle,little star,\n\t How I wonder what you are!\n\t\t Up above the world so high,\n\t\t\t Like a diamond in the sky.")

Twinkle,twinkle,little star,
	 How I wonder what you are!
		 Up above the world so high,
			 Like a diamond in the sky.

In [ ]:
"DIZZY DRAKE"
POPSTAR= "DIZZY DRAKE"
print(POPSTAR[4]+" "+POPSTAR[10])

Y E

In [ ]:
a=5
a==6

False

In [ ]:
i=2
i>5

False

In [ ]:
i=2
i!=6

True

In [ ]:
"ACDC" != "Michael Jackson"

True

In [ ]:
# If statement example

age = 19
#age = 18


if age > 18:
 print("you can enter" )

print("move on")

you can enter
move on

In [ ]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )

print("move on")

go see Meat Loaf
move on

In [ ]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )

print("move on")

go see Pink Floyd
move on

In [ ]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year < 1980:
    print("Album year is greater than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [ ]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

In [ ]:
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

In [ ]:
if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1970

In [ ]:
1=2

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-29-a0aef98f5518>, line 1)

In [ ]:
colors = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]
for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

In [ ]:
musicians = ["Michael Jackson", "eminem", "drake", "dr dre", "r kelly"]
for musician in musicians:
             print(musician)

Michael Jackson
eminem
drake
dr dre
r kelly

In [ ]:
SUCCESS = "MAMBA MENTALITY"
#Assuming positive index numbers, what is the result of the input SUCCESS[::2] ?
#What is the result of the input SUCCESS[0:10:2] ?
#What is the result of the input SUCCESS[2:5:2] ?
#What input returns the result “ NL” ? (*notice the space)
#What input returns the result “A TT” ? (*notice the space)

print(SUCCESS[::2])
print(SUCCESS[2:5:2])
print (SUCCESS[5:12:3])
print(SUCCESS[1:14:4])

MMAMNAIY
MA
 NL
A TT

In [ ]:
SUCCESS[0:10:2]

'MMAMN'

In [ ]:
#What inputs would you run to print each of the following?

#JENNIFER LOPEZ
#IS AN AWESOME DANCER!

#colour ---> purple

#The backslash \ is so cool

"JENNIFER LOPEZ IS AN AWESOME DANCER!"
print("JENNIFER LOPEZ \nIS AN AWESOME DANCER!")

JENNIFER LOPEZ
IS AN AWESOME DANCER!

In [ ]:
fruits = ["apple", "banana", "orange"]
for index, fruit in enumerate(fruits):
    print(f" At position {index}, I found a {fruit}")

 At position 0, I found a apple
 At position 1, I found a banana
 At position 2, I found a orange

In [ ]:
musicians = ["Michael Jackson", "eminem", "drake", "dr dre", "r kelly"]
for index, musician in enumerate(musicians):
    print(f" At position {index}, I met a {musician}")

 At position 0, I met a Michael Jackson
 At position 1, I met a eminem
 At position 2, I met a drake
 At position 3, I met a dr dre
 At position 4, I met a r kelly

In [ ]:
count = 11
while count <= 50:
    print(count)
    count += 2

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [ ]:
# Exmaple of for loop, loop through list

for year in dates:
    print(year)

1982
1980
1973

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):
    print(year)
    i = i + 1
    year = dates[i]


print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [ ]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
   print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [ ]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square  in squares:
   print(square)

red
yellow
green
purple
blue

In [ ]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
while(i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i = i + 1
    rating = PlayListRatings[i]

10
9.5
10
8
7.5

In [ ]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

In [ ]:
#Your little brother has just learned multiplication tables in school.
#Today he has learned tables of 6 and 7.
#Help him memorise both the tables by printing them using for loop.
print("Multiplication table of 6:")
for i in range (13):
    print("6*",i,"=",6*i)
print("Multiplication table of 7:")
for i in range (13):
    print("7*",i,"=",7*i)

Multiplication table of 6:
6* 0 = 0
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60
6* 11 = 66
6* 12 = 72
Multiplication table of 7:
7* 0 = 0
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70
7* 11 = 77
7* 12 = 84

In [ ]:


Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i=0
while i<len(Animals):
    j=Animals[i]
    if(len(j)==7):
        New.append(j)
    i=i+1
print(New)

['giraffe', 'gorilla', 'parrots']

In [ ]:
def print_function(A):
    for a in A:
        print(a + '1')
print_function(['a', 'b', 'c'])

a1
b1
c1

In [ ]:
a = 1
try:
    b = int(input("Please enter a number to divide a: "))
    a = a / b
    print("Success a =", a)
except:
    print("There was an error")

There was an error

In [ ]:
 # Create a new file Example2.txt for writing
with open('Example2.txt', 'w') as file1:
    file1.write("This is line A\n")
    file1.write("This is line B\n")
    # file1 is automatically closed when the 'with' block exits

In [ ]:
import numpy as np
# create a list
a = [[11, 12, 13], [21, 22, 23], [31, 32, 33]]
a
# Convert list to Numpy Array
# Every element is the same type
A = np.array (a)
A. ndim
# Show the numpy array shape

A.shape
# Show the numpy array size

A.size
# Access the element on the second row and third column
A[1, 2]
# Access the element on the second row and third column

A[1][2]
# Access the element on the first and second rows and third column

A[0:2, 2]
# Create a numpy array X

X = np.array([[1, 0], [0, 1]])
X
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]])
Y

array([[2, 1],
       [1, 2]])

In [ ]:
# Create a numpy array X

X = np.array([[1, 0], [0, 1]])
Print(X)
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]])
Print(Y)

NameError: name 'Print' is not defined

In [ ]:
a = np.array([-1,1])

b=np.array([1,1])

np.dot(a,b)

NameError: name 'np' is not defined

In [ ]:
X=np.array([[1,0,1],[2,2,2]])

out=X[0:2,2]

NameError: name 'np' is not defined

In [ ]:
X=np.array([[1,0],[0,1]])

Y=np.array([[2,1],[1,2]])

Z=np.dot(X,Y)

NameError: name 'np' is not defined